@font-face {
    font-family: 'Material Symbols Rounded';
    src: url('MaterialSymbolsRounded.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.material-symbols-rounded {
    display: inline-block;
    font-family: "Material Symbols Rounded";
    user-select: none;

    &.icon-outlined-regular {
        font-variation-settings:
        'FILL' var(--icon-fill-outlined),
        'wght' 300,
        'GRAD' 0,
        'opsz' 24;
    }

    &.icon-outlined-semibold {
        font-variation-settings:
        'FILL' var(--icon-fill-outlined),
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    }

    &.icon-filled-regular {
        font-variation-settings:
        'FILL' var(--icon-fill-filled),
        'wght' 300,
        'GRAD' 0,
        'opsz' 24;
    }

    &.icon-filled-semibold {
        font-variation-settings:
        'FILL' var(--icon-fill-filled),
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    }

}

