@import "css/variables/mediaqueries.scss";

@mixin menuBackground() {
    background-color: var(--color-secondary-darker-800);
    background-image: linear-gradient(180deg, var(--color-transparent-black-00) 0%, var(--color-transparent-black-20) 100%);
    box-shadow: var(--elevation-1x-t50);
}

.menu {
    position: fixed;
    z-index: 10;
    width: 100%;
    transition: background .3s, box-shadow .3s;

    .wrapper {
        display: flex;
        align-items: center;
        gap: 120px;
        height: 76px;
        padding-top: var(--spacing-3x);
        transition: gap .3s, height .3s, padding-top .3s;


        .logo {

            a {
                display: inline-block;
                width: 166px;
                height: 49px;
                transition: width .3s, height .3s;
            }

        }

        .mobile-menu {
            display: none;
        }

        nav {
            height: 30px;
            position: relative;
            top: 5px;
            transition: top .3s;
            
            ul, li {
                height: 100%;
            }
    
            ul {
                display: flex;
                gap: var(--spacing-6x);
                margin: 0;
                padding: 0;
                
                li {
                    list-style-type: none;
                    transition: margin-top .3s;
                    text-align: center;

                    a {
                        transition: font-size 0.3s, height .3s, color .3s, top .3s;
                    }
                }

            }
    

        }


    }

    &.scrolled {
        @include menuBackground();
    }

    &.scrolled,
    &.opened {

        .wrapper {
            height: 68px;
            gap: 80px;
            align-items: center;
            padding-top: 0;

            .logo {
                
                a {
                    width: 120px;
                    height: 42px;
                }

            }

            nav {
                top: 0;

                li {
                    
                    a {
                        font-size: var(--font-size-medium);
                    }

                }

            }

        }
    }

}

@media (max-width: $window-large) {
    .menu {

        .wrapper {
            gap: var(--spacing-8x);            

            nav {

                ul {
                    gap: var(--spacing-4x);
                }

            }

        }

    }
}

@media (max-width: $window-medium) {
    .menu {

        .wrapper {
            justify-content: space-between;
            row-gap: var(--spacing-1x);
            flex-wrap: wrap;
            height: auto;
            max-height: 48px;
            padding-top: var(--spacing-1x);

            .logo {

                a {
                    width: 104px;
                    height: 34px;
                }
            }
            
            .mobile-menu {
                display: initial;
            }

            nav {
                display: none;
                top: 0;
                width: 100%;
                height: auto;

                ul {
                    flex-direction: column;
                    width: 100%;
                    align-items: center;
                    gap: var(--spacing-2x);
                    padding-block: var(--spacing-2x);

                    li {
                        margin-top: 0;
                        width: auto;
                    }
                }

            }

        }

        &.opened {
            @include menuBackground();
        }

        &.scrolled,
        &.opened {
    
            .wrapper {
                height: 48px;
                gap: var(--spacing-1x);
                padding-top: var(--spacing-1x);
    
                .logo {
                    
                    a {
                        width: 104px;
                        height: 34px;
                    }
    
                }
            }
        }

        &.opened {
            
            .wrapper {
                height: auto;
                max-height: none;
            
                nav {
                    display: block;
                }
            
            }

        }

    }

}

@media (max-width: 290px) {
    .menu {

        .wrapper {
            gap: var(--spacing-1x);
            flex-direction: column;
            flex-wrap: nowrap;

            .logo {
                margin-left: 16px;
            }
        }

        &.scrolled,
        &.opened {

            .wrapper {
                height: auto;
                max-height: none;
            }

        }

    }
}