.category-slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2x);
    position: relative;
    overflow: hidden;

    .container {
        display: flex;
        gap: var(--spacing-3x);
        
        a {
            display: block;
            flex-basis: calc((100vw/8) - 39px);
            flex-grow: 0;
            flex-shrink: 0;
            line-height: 0;
        }
    }

    .slide-forward, 
    .slide-return {
        position: absolute;
        top: 50%;
        background-color: var(--color-transparent-black-60);
        border-radius: var(--rounded-corners-1x);
        scale: 0;
        opacity: 0;
        transition: opacity .5s;
    }

    .slide-forward {
        right: var(--spacing-8x);
    }

    &:hover {

        .slide-forward, 
        .slide-return {
            display: initial;
            scale: 1;
            opacity: 1;
        }

    }
}