p {
    font-size: var(--font-size-large);
    line-height: var(--line-height-extra-giant);
}

.subtitle {
    font-size: var(--font-size-small);
    line-height: var(--line-height-extra-large);
}

.description {
    font-size: var(--font-size-mini);
    line-height: var(--line-height-medium);
}