.menu-item {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-extra-large);
    color: var(--color-white);
    text-decoration: none;
}