.search {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-3x);

    a {
        //flex-basis: calc(12.5vw - 40px);
        flex-basis: calc((100% / 8) - 21px);
        flex-grow: 0;
        flex-shrink: 0;
    }
}